/*
 * @description 全局 style
 * @author 郑人滏 42020306
 * @since 2023/6/23
 * @link https://github.com/himmelbleu/bleuon-app
 */

@import "element-plus/theme-chalk/dark/css-vars.css";
@import "@mainapp/scss/index";

html[class="dark"] {
  --bg-a: #222222;
  // 主题规定的文字颜色
  --text-a: #a7a7a7;
  --text-b: #999999;
  --text-c: #7c7c7c;
  --text-primary: #409eff;
}

html[class="light"] {
  --bg-a: #ffffff;
  // 主题规定的文字颜色
  --text-a: #383838;
  --text-b: #686868;
  --text-c: #969696;
  --text-d: #dedede;
  --text-primary: #409eff;
}
