/*
 * @description 全局 style
 * @author 郑人滏 42020306
 * @since 2023/6/23
 * @link https://github.com/himmelbleu/bleuon-app
 */

@import "element-plus/theme-chalk/dark/css-vars.css";
@import "@mainapp/scss/index";

html[class="dark"] {
  // 主题规定的文字颜色
  --bleuon-text-primary: #a7a7a7;
  --bleuon-text-secondary: #999999;
  --bleuon-text-thirdly: #7c7c7c;
}

html[class="light"] {
  // 主题规定的文字颜色
  --bleuon-text-primary: #383838;
  --bleuon-text-secondary: #686868;
  --bleuon-text-thirdly: #969696;

  // border
  --blueon-border-primary: #dfe2e5;
}
