@import "./mixins.scss";

:root {
  --bleuon-font-size: 14px;
}

// 375 ~ 1400 都是 14px，超过 1500px 就开始依次往上递增
@for $i from 1 through 30 {
  $min: $i * 100 + 1500px;

  @media screen and (min-width: $min) {
    :root {
      --bleuon-font-size: #{calc($min / 100)};
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--bleuon-font-size);
  background-color: var(--bleuon-bg);

  & {
    scrollbar-color: initial;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
