@import "./mixins.scss";
@import "./cust-res.scss";

html,
body {
  margin: 0;
  padding: 0;
  color: var(--text-a);
  font-size: var(--reactive-font);
  background-color: var(--background-bg);

  & {
    scrollbar-color: initial;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

a:link {
  text-decoration: none;
}

@include pc() {
  .page {
    --uno: f-s-c relative;
    z-index: 2;

    & > .content {
      width: 55vw;
    }
  }
}

@include mb() {
  .page {
    --uno: px-4;
    width: 100%;
  }
}
