<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bleuon.mapper.AuthorityMapper">

    <cache-ref namespace="com.bleuon.mapper.AuthorityMapper"/>

    <insert id="setAuthority">
        INSERT INTO co_user_role(user_id, role_id, user_name)
        VALUES (#{id}, #{role}, #{uname})
    </insert>

    <select id="getAuthority" resultType="java.lang.String">
        SELECT a.value
        FROM co_user_role AS cur
        INNER JOIN p_roles AS r ON r.id = cur.role_id
        INNER JOIN co_auth_role AS car ON car.role_id = cur.role_id
        INNER JOIN p_auths AS a ON a.id = car.auth_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id != null">
                AND cur.user_id = #{id}
            </if>
            <if test="username != null">
                AND cur.user_name = #{username}
            </if>
        </trim>
    </select>

</mapper>