<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bleuon.mapper.AuthorityMapper">

    <cache/>

    <insert id="setConsumerAuthority">
        INSERT INTO co_consumer_role(consumer_id, role_id, user_name)
        VALUES (#{consumerId}, #{roleId}, #{username})
    </insert>

    <select id="getConsumerAuthority" resultType="string">
        SELECT a.value
        FROM co_consumer_role AS cur
        INNER JOIN p_roles AS r ON r.id = cur.role_id
        INNER JOIN co_auth_role AS car ON car.role_id = cur.role_id
        INNER JOIN p_auths AS a ON a.id = car.auth_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="consumerId != null">
                AND cur.consumer_id = #{consumerId}
            </if>
            <if test="username != null">
                AND cur.user_name = #{username}
            </if>
        </trim>
    </select>

    <select id="getAdminAuthority" resultType="string">
        SELECT a.value
        FROM co_admin_role AS cur
        INNER JOIN p_roles AS r ON r.id = cur.role_id
        INNER JOIN co_auth_role AS car ON car.role_id = cur.role_id
        INNER JOIN p_auths AS a ON a.id = car.auth_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="adminId != null">
                AND cur.admin_id = #{adminId}
            </if>
            <if test="username != null">
                AND cur.username = #{username}
            </if>
        </trim>
    </select>

    <select id="findAdminAuthoritiesByAdminId" resultType="com.bleuon.entity.AuthorityModel">
        SELECT a.*
        FROM co_admin_role AS cur
                 INNER JOIN p_roles AS r ON r.id = cur.role_id
                 INNER JOIN co_auth_role AS car ON car.role_id = cur.role_id
                 INNER JOIN p_auths AS a ON a.id = car.auth_id
        WHERE cur.admin_id = #{adminId}
    </select>

    <select id="findConsumerAuthoritiesByConsumerId" resultType="com.bleuon.entity.AuthorityModel">
        SELECT a.*
        FROM co_consumer_role AS cur
                 INNER JOIN p_roles AS r ON r.id = cur.role_id
                 INNER JOIN co_auth_role AS car ON car.role_id = cur.role_id
                 INNER JOIN p_auths AS a ON a.id = car.auth_id
        WHERE cur.consumer_id = #{consumerId}
    </select>

    <select id="findAdminRoleByAdminId" resultType="com.bleuon.entity.RoleModel">
        SELECT r.*
        FROM co_admin_role AS cur
                 INNER JOIN p_roles AS r ON r.id = cur.role_id
        WHERE cur.admin_id = #{adminId}
    </select>

    <select id="findConsumerRoleByConsumerId" resultType="com.bleuon.entity.RoleModel">
        SELECT r.*
        FROM co_consumer_role AS cur
                 INNER JOIN p_roles AS r ON r.id = cur.role_id
        WHERE cur.consumer_id = #{consumerId}
    </select>

    <resultMap id="findAdminAuthoritiesAllMap" type="com.bleuon.entity.AdminModel" autoMapping="true">
        <association property="role" select="findAdminRoleByAdminId" column="{adminId=id}" autoMapping="true" />
        <collection property="authorities" select="findAdminAuthoritiesByAdminId" column="{adminId=id}"
                    autoMapping="true"/>
    </resultMap>

    <select id="findAdminAuthoritiesAll" resultMap="findAdminAuthoritiesAllMap">
        SELECT id, username, phone, email, create_date, modify_date
        FROM t_admins
        WHERE id = #{adminId}
    </select>

    <resultMap id="findConsumerAuthoritiesAllMap" type="com.bleuon.entity.ConsumerModel" autoMapping="true">
        <association property="role" select="findConsumerRoleByConsumerId" column="{consumerId=id}" autoMapping="true" />
        <collection property="authorities" select="findConsumerAuthoritiesByConsumerId" column="{consumerId=id}"
                    autoMapping="true"/>
    </resultMap>

    <select id="findConsumerAuthoritiesAll" resultMap="findConsumerAuthoritiesAllMap">
        SELECT id,
               username,
               email,
               phone,
               avatar,
               create_date,
               modify_date
        FROM t_consumers
        WHERE id = #{consumerId}
    </select>

</mapper>