<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bleuon.mapper.CollectingFlowchartMapper">

    <cache-ref namespace="com.bleuon.mapper.CollectingFlowchartMapper"/>

    <resultMap id="findMap" type="com.bleuon.entity.Flowchart" autoMapping="true">
        <id column="id" property="id"/>
        <association javaType="com.bleuon.entity.dto.ConsumerDto" property="consumer" columnPrefix="u_"
                     autoMapping="true">
            <id column="id" property="id"/>
        </association>
    </resultMap>

    <select id="findAllByCriteria" resultMap="findMap">
        SELECT f.*,
        u.id u_id,
        u.username u_username,
        u.avatar u_avatar
        FROM t_flowcharts f
        INNER JOIN t_consumers u ON f.consumer_id = u.id
        INNER JOIN co_collecting_flowchart cf ON f.id = cf.flowchart_id
        WHERE cf.collecting_cid = #{collectingCid}
        <trim prefix="AND" prefixOverrides="AND">
            <if test="fileName != null and fileName != ''">
                f.file_name = #{fileName}
            </if>
        </trim>
    </select>

    <select id="find" resultMap="findMap">
        SELECT f.*,
               u.id       u_id,
               u.username u_username,
               u.avatar   u_avatar
        FROM t_flowcharts f
                 INNER JOIN t_consumers u ON u.id = f.consumer_id
                 INNER JOIN co_collecting_flowchart cf ON f.id = cf.flowchart_id
        WHERE cf.collecting_cid = #{collectingCid}
          AND cf.flowchart_id = #{flowchartId};
    </select>

    <delete id="delete" parameterType="com.bleuon.entity.CollectingFlowchart">
        DELETE
        FROM co_collecting_flowchart
        WHERE collecting_cid = #{collectingCid}
          AND flowchart_id = #{flowchartId}
    </delete>

    <insert id="add" parameterType="com.bleuon.entity.CollectingFlowchart">
        INSERT INTO co_collecting_flowchart(collecting_cid, flowchart_id)
        VALUES (#{collectingCid}, #{flowchartId})
    </insert>

</mapper>