<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bleuon.mapper.CollectingConsumerMapper">

    <cache-ref namespace="com.bleuon.mapper.CollectingConsumerMapper"/>

    <resultMap id="findMap" type="com.bleuon.entity.CollectingConsumer" autoMapping="true">
        <id column="id" property="id"/>
        <association property="consumer" javaType="com.bleuon.entity.dto.ConsumerDto" columnPrefix="c_">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="avatar" property="avatar"/>
            <result column="signature" property="signature"/>
        </association>
    </resultMap>
    <select id="findAllByCriteria" resultMap="findMap" parameterType="com.bleuon.entity.vo.ConsumerCriteria">
        SELECT cc.*,
               c.id        c_id,
               c.username  c_username,
               c.avatar    c_avatar,
               c.signature c_signature
        FROM co_conllecting_consumer cc
                 JOIN t_consumers c ON cc.consumer_id = c.id
        WHERE cc.collecting_cid = #{collectingCid};
    </select>

    <insert id="add" parameterType="com.bleuon.entity.CollectingConsumer">
        INSERT INTO co_conllecting_consumer(id, collecting_cid, consumer_id)
        VALUES (#{id}, #{collectingCid}, #{consumerId});
    </insert>
</mapper>