<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bleuon.mapper.CollectingFlowchartMapper">

    <resultMap id="findMap" type="FlowchartModel" autoMapping="true">
        <id column="id" property="id"/>
        <association javaType="ConsumerModel" property="consumer" columnPrefix="u_"
                     autoMapping="true">
            <id column="id" property="id"/>
        </association>
    </resultMap>

    <select id="findAllByCriteria" resultMap="findMap">
        SELECT f.*,
        u.id u_id,
        u.username u_username,
        u.avatar u_avatar
        FROM t_flowcharts f
        LEFT JOIN t_consumers u ON f.consumer_id = u.id
        LEFT JOIN co_collecting_flowchart cf ON f.id = cf.flowchart_id
        WHERE cf.collector_id = #{collectorId}
        <trim prefix="AND" prefixOverrides="AND">
            <if test="filename != null and filename != ''">
                f.filename LIKE CONCAT('%', #{filename}, '%')
            </if>
        </trim>
    </select>

    <select id="find" resultMap="findMap">
        SELECT f.*,
               u.id       u_id,
               u.username u_username,
               u.avatar   u_avatar
        FROM t_flowcharts f
                 LEFT JOIN t_consumers u ON u.id = f.consumer_id
                 LEFT JOIN co_collecting_flowchart cf ON f.id = cf.flowchart_id
        WHERE cf.collector_id = #{collectorId}
          AND cf.flowchart_id = #{flowchartId};
    </select>

    <delete id="drop" parameterType="CollectingFlowchartModel">
        DELETE
        FROM co_collecting_flowchart
        WHERE collector_id = #{collectorId}
          AND flowchart_id = #{flowchartId}
    </delete>

    <insert id="add" parameterType="CollectingFlowchartModel">
        INSERT INTO co_collecting_flowchart(collector_id, flowchart_id)
        VALUES (#{collectorId}, #{flowchartId})
    </insert>

</mapper>