<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bleuon.mapper.DiscussionMapper">

    <select id="findConsumerById" resultType="com.bleuon.entity.dto.ConsumerDTO">
        SELECT id,
               username,
               avatar,
               signature,
               company,
               position,
               profession
        FROM t_consumers
        WHERE id = #{consumerId}
    </select>

    <!-- findAllByCriteria -->

    <resultMap id="findAllByCriteriaMap" type="com.bleuon.entity.PostModel" autoMapping="true">
        <id column="id" property="id"/>
        <association javaType="com.bleuon.entity.dto.ConsumerDTO" property="consumer" column="{consumerId=consumer_id}"
                     select="findConsumerById">
        </association>
    </resultMap>

    <select id="findAllByCriteria" resultMap="findAllByCriteriaMap">
        SELECT *
        FROM t_posts
        <where>
            <trim prefix="AND" prefixOverrides="AND">
                <if test="consumerId != null and consumerId != ''">
                    AND consumer_id = #{consumerId}
                </if>
                <if test="title != null and title != ''">
                    AND title LIKE CONCAT('%', #{title}, '%')
                </if>
                <if test="rankingType != null and rankingType != ''">
                    AND ranking_type = #{rankingType}
                </if>
                <if test="type != null and type != ''">
                    AND type = #{type}
                </if>
            </trim>
        </where>
        <if test="sequences != null">
            ORDER BY
            <foreach collection="sequences" item="sequence" separator=", ">
                <choose>
                    <when test="sequence.isAsc == true">
                        ${sequence.col}
                    </when>
                    <otherwise>
                        ${sequence.col} DESC
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </select>

    <!-- findByCriteria -->

    <resultMap id="findByCriteriaMap" type="com.bleuon.entity.PostModel" autoMapping="true">
        <id column="id" property="id"/>
        <association javaType="com.bleuon.entity.dto.ConsumerDTO" property="consumer" column="{consumerId=consumer_id}"
                     select="findConsumerById">
        </association>
    </resultMap>

    <select id="findDetailByCriteria" resultMap="findByCriteriaMap">
        SELECT *
        FROM t_posts
        <where>
            AND id = #{postId}
            <trim prefix="AND" prefixOverrides="AND">
                <if test="consumerId != null and consumerId != ''">
                    AND consumer_id = #{consumerId}
                </if>
                <if test="title != null and title != ''">
                    AND title LIKE CONCAT('%', #{title}, '%')
                </if>
                <if test="rankingType != null and rankingType != ''">
                    AND ranking_type = #{rankingType}
                </if>
                <if test="type != null and type != ''">
                    AND type = #{type}
                </if>
            </trim>
        </where>
    </select>

    <!-- findCommentsByCriteria -->

    <resultMap id="findCommentsByCriteria" type="com.bleuon.entity.PostCommentModel" autoMapping="true">
        <id column="id" property="id"/>
        <association javaType="com.bleuon.entity.dto.ConsumerDTO" property="consumer" column="{consumerId=consumer_id}"
                     select="findConsumerById">
        </association>
    </resultMap>

    <select id="findCommentsByCriteria" resultMap="findCommentsByCriteria">
        SELECT *
        FROM t_post_comments
        WHERE post_id = #{postId}
        <if test="sequences != null">
            ORDER BY
            <foreach collection="sequences" item="sequence" separator=", ">
                <choose>
                    <when test="sequence.isAsc == true">
                        ${sequence.col}
                    </when>
                    <otherwise>
                        ${sequence.col} DESC
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </select>

    <insert id="addComment">
        INSERT INTO t_post_comments(id, content, consumer_id, post_id)
        VALUES (#{id}, #{content}, #{consumerId}, #{postId})
    </insert>

    <delete id="deleteComment">
        DELETE
        FROM t_post_comments
        WHERE id = #{id}
          AND consumer_id = #{consumerId}
          AND post_id = #{postId};
    </delete>

    <update id="upgradeComment">
        UPDATE t_post_comments
        <set>
            <trim suffixOverrides=",">
                <if test="digg != null">digg = #{digg},</if>
                <if test="bury != null">bury = #{bury},</if>
                <if test="content != null">`content` = #{content},</if>
            </trim>
        </set>
        WHERE id = #{id} AND post_id = #{postId}
    </update>

    <update id="upgradeDetail">
        UPDATE t_posts
        <set>
            <trim suffixOverrides=",">
                <if test="digg != null">digg = #{digg},</if>
                <if test="title != null">title = #{title},</if>
                <if test="titleTag != null">title_tag = #{titleTag},</if>
                <if test="bury != null">bury = #{bury},</if>
                <if test="views != null">`views` = #{views},</if>
                <if test="desc != null">`desc` = #{desc},</if>
                <if test="descTag != null">desc_tag = #{descTag},</if>
                <if test="descImgs != null">desc_imgs = #{descImgs},</if>
                <if test="type != null">type = #{type},</if>
                <if test="rankingType != null">ranking_type = #{rankingType},</if>
                <if test="content != null">`content` = #{content},</if>
            </trim>
        </set>
        WHERE id = #{id};
    </update>

</mapper>