<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bleuon.mapper.DynamicMapper">

    <update id="upgrade" parameterType="DynamicModel">
        UPDATE t_dynamics
        <set>
            <trim suffixOverrides=",">
                <if test="content != null">content = #{content},</if>
                <if test="digg != null">digg = #{digg},</if>
                <if test="bury != null">bury = #{bury},</if>
            </trim>
        </set>
        WHERE id = #{id}
    </update>

</mapper>