<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bleuon.mapper.PermissionMapper">

    <insert id="addConsumerAuthority">
        INSERT INTO co_consumer_role(consumer_id, role_id, user_name)
        VALUES (#{consumerId}, #{roleId}, #{username})
    </insert>

    <select id="findConsumerAuthorityList" resultType="string">
        SELECT a.value
        FROM co_consumer_role AS cur
        LEFT JOIN p_roles AS r ON r.id = cur.role_id
        LEFT JOIN co_auth_role AS car ON car.role_id = cur.role_id
        LEFT JOIN p_auths AS a ON a.id = car.auth_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="consumerId != null">
                AND cur.consumer_id = #{consumerId}
            </if>
            <if test="username != null">
                AND cur.user_name = #{username}
            </if>
        </trim>
    </select>

    <select id="findAdminAuthorityList" resultType="string">
        SELECT a.value
        FROM co_admin_role AS cur
        LEFT JOIN p_roles AS r ON r.id = cur.role_id
        LEFT JOIN co_auth_role AS car ON car.role_id = cur.role_id
        LEFT JOIN p_auths AS a ON a.id = car.auth_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="adminId != null">
                AND cur.admin_id = #{adminId}
            </if>
            <if test="username != null">
                AND cur.username = #{username}
            </if>
        </trim>
    </select>

    <resultMap id="findAdminWithAuthorityListMap" type="com.bleuon.entity.AdminModel" autoMapping="true">
        <association property="role" select="findAdminRoleByAdminId" column="{adminId=id}" autoMapping="true"/>
        <collection property="authorities" select="findAdminAuthorities" column="{adminId=id}"
                    autoMapping="true"/>
    </resultMap>

    <select id="findAdminRoleByAdminId" resultType="com.bleuon.entity.RoleModel">
        SELECT r.*
        FROM co_admin_role AS cur
                 LEFT JOIN p_roles AS r ON r.id = cur.role_id
        WHERE cur.admin_id = #{adminId}
    </select>

    <select id="findAdminAuthorities" resultType="com.bleuon.entity.AuthorityModel">
        SELECT a.*
        FROM co_admin_role AS cur
                 LEFT JOIN p_roles AS r ON r.id = cur.role_id
                 LEFT JOIN co_auth_role AS car ON car.role_id = cur.role_id
                 LEFT JOIN p_auths AS a ON a.id = car.auth_id
        WHERE cur.admin_id = #{adminId}
    </select>

    <select id="findAdminWithAuthorityList" resultMap="findAdminWithAuthorityListMap">
        SELECT id, username, phone, email, create_date, modify_date
        FROM t_admins
        WHERE id = #{adminId}
    </select>

    <resultMap id="findConsumerWithAuthorityListMap" type="com.bleuon.entity.ConsumerModel" autoMapping="true">
        <association property="role" select="findConsumerRoleByConsumerId" column="{consumerId=id}" autoMapping="true"/>
        <collection property="authorities" select="findConsumerAuthorities" column="{consumerId=id}"
                    autoMapping="true"/>
    </resultMap>

    <select id="findConsumerRoleByConsumerId" resultType="com.bleuon.entity.RoleModel">
        SELECT r.*
        FROM co_consumer_role AS cur
                 LEFT JOIN p_roles AS r ON r.id = cur.role_id
        WHERE cur.consumer_id = #{consumerId}
    </select>

    <select id="findConsumerAuthorities" resultType="com.bleuon.entity.AuthorityModel">
        SELECT a.*
        FROM co_consumer_role AS cur
                 LEFT JOIN p_roles AS r ON r.id = cur.role_id
                 LEFT JOIN co_auth_role AS car ON car.role_id = cur.role_id
                 LEFT JOIN p_auths AS a ON a.id = car.auth_id
        WHERE cur.consumer_id = #{consumerId}
    </select>

    <select id="findConsumerWithAuthorityList" resultMap="findConsumerWithAuthorityListMap">
        SELECT id,
               username,
               email,
               phone,
               avatar,
               create_date,
               modify_date
        FROM t_consumers
        WHERE id = #{consumerId}
    </select>

    <select id="findAllAdminsWithAuthorityList" resultMap="findAdminWithAuthorityListMap">
        SELECT id, username, phone, email, create_date, modify_date
        FROM t_admins
    </select>

    <select id="findAllConsumersWithAuthorityList" resultMap="findConsumerWithAuthorityListMap">
        SELECT id,
               username,
               email,
               phone,
               avatar,
               create_date,
               modify_date
        FROM t_consumers
    </select>

    <resultMap id="findRoleWithAuthorityListMap" type="com.bleuon.entity.RoleModel" autoMapping="true">
        <collection property="authorities" select="findRoleAuthorityList" column="{roleId=id}"/>
    </resultMap>

    <select id="findRoleAuthorityList" resultType="com.bleuon.entity.AuthorityModel">
        SELECT *
        FROM co_auth_role ar
                 LEFT JOIN p_auths a ON ar.auth_id = a.id
        WHERE role_id = #{roleId};
    </select>

    <select id="findAllRoleWithAuthorityList" resultMap="findRoleWithAuthorityListMap">
        SELECT *
        FROM p_roles
    </select>

    <insert id="addRole">
        INSERT INTO p_roles(name, value)
        VALUES (#{name}, #{value})
    </insert>

</mapper>