@import "./mixins.scss";

:root {
  --bleuon-font-size: 14px;
}

// 375 ~ 1400 都是 14px，超过 1500px 就开始依次往上递增
@for $i from 1 through 30 {
  $min: $i * 100 + 1500px;

  @media screen and (min-width: $min) {
    :root {
      --bleuon-font-size: #{calc($min / 100)};
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--bleuon-font-size);
  background-color: var(--bg-a);

  & {
    scrollbar-color: initial;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

/* 细小的滑动块 */
.slim-slider {
  &::-webkit-scrollbar {
    width: 10px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b5b5b5;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  &::-webkit-scrollbar-thumb {
    border: 1px solid #fff;
    border-radius: 6px;
    background: #c9c9c9;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: #c6c6c6;
  }
}
