@import "element-plus/theme-chalk/dark/css-vars.css";
@import "@/scss/index";

html[class="dark"] {
  --background-bg: #222222;
  // 主题规定的文字颜色
  --text-a: #a7a7a7;
  --text-b: #999999;
  --text-c: #7c7c7c;
  --text-primary: #409eff;
}

html[class="light"] {
  --background-bg: #f8f8f8;
  // 主题规定的文字颜色
  --text-a: #383838;
  --text-b: #686868;
  --text-c: #969696;
  --text-d: #dedede;
  --text-primary: #409eff;
}
